/* Uncomment and set these variables to customize the grid. */
$count-col : 12; // -Количество колонок
$indent-col : 15px; // -Отступы в колонках
$screen-extensions: (xs: 0px, sm: 540px, md: 720px, lg: 960px, xl: 1140px); // -расширения экранов

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
}
  
.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -$indent-col;
    margin-left: -$indent-col;
}

.col-n {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $indent-col;
    padding-left: $indent-col;
}
  
.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    @extend .col-n;
}

@each $key, $size in $screen-extensions {
    
    @for $i from 1 through $count-col {
        .col-#{$key}-#{$i} {
            @extend .col-n;
        }
    }
    @media only screen and (min-width: $size) {
        .container {
            @if $key == xs {
                padding-right: $indent-col;
                padding-left: $indent-col;
                width: auto;   
            } @else {
                width: $size - 2;
                margin:0 auto;
            }
        }

        @for $i from 1 through $count-col {
            $w-col : (100% / $count-col) * $i;
            .col-#{$key}-#{$i} {
                flex-basis: $w-col;
                max-width: $w-col;  
            }
    
            .col-#{$key}-offset-#{$i} {
                margin-left: $w-col;
            }
        }
    }
}
