.map-feedback {

}

.map-feedback__head {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 12px;
    color: #ff8663;
    text-transform: uppercase;
}

.map-feedback__form-field {
    margin-bottom: 15px;
}

.map-feedback-massage {
    resize: none;
    height: 120px;
}